*.pyc
*~
.idea/
.vscode/
.DS_Store
*.swp
*.db
*key
*.log
google_signin_client_id
db_url*
schema.sql
*screenlog*
**/data/*
!**/data/pretrained_models/
!**/data/dataset/
back-end/www/**/*.pt
back-end/www/**/*.pkl
